<section class="advantages">
  <div class="container">
    <div class="advantages__body">
      <div class="advantages__column">
        <div class="advantages__info info-advantages">
          <h2 class="info-advantages__title title">
            Чистая вода с <br />минералами <br />сразу из под крана
          </h2>
          <ul class="info-advantages__list">
            <li class="info-advantages__item">
              <span class="info-advantages__icon">
                <svg>
                  <use xlink:href="images/sprite.svg#advantages--svg--advanteges-icon-1"></use>
                </svg>
              </span>
              2 вида подачи воды
            </li>
            <li class="info-advantages__item">
              <span class="info-advantages__icon">
                <svg>
                  <use xlink:href="images/sprite.svg#advantages--svg--advanteges-icon-2"></use>
                </svg>
              </span>
              Бесплатная доставка
            </li>
            <li class="info-advantages__item">
              <span class="info-advantages__icon">
                <svg>
                  <use xlink:href="images/sprite.svg#advantages--svg--advanteges-icon-3"></use>
                </svg>
              </span>
              Установка
              <span class="info-advantages__sticker">ПОД КЛЮЧ</span>
            </li>
          </ul>
          <div class="info-advantages__btn-box">
            <a class="info-advantages__btn btn btn-messenger" href="#">Заказать за 79 000 тг</a>
          </div>
        </div>
      </div>
      <div class="advantages__column">
        <div class="advantages-img">
          <div class="advantages-img__box">
            <img src="images/advantages/advanteges-1.jpg" alt="Чистая вода с минералами сразу из под крана" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>