<section class="advantages" id="advantages-2">
  <div class="container">
    <div class="advantages__body">
      <div class="advantages__column">
        <div class="advantages__info info-advantages">
          <h2 class="info-advantages__title title">
            Сравните <br>и убедитесь
          </h2>
          <h3 class="info-advantages__subtitle subtitle">почему вам нужна именно наша система очистки</h3>
          <ul class="info-advantages__list">
            <li class="info-advantages__item">
              <span class="info-advantages__icon">
                <svg>
                  <use xlink:href="images/sprite.svg#advantages--svg--advanteges-icon-4"></use>
                </svg>
              </span>
              Бутылированная вода
            </li>
            <li class="info-advantages__item">
              <span class="info-advantages__icon">
                <svg>
                  <use xlink:href="images/sprite.svg#advantages--svg--advanteges-icon-4"></use>
                </svg>
              </span>
              Другие системы очистки
            </li>
            <li class="info-advantages__item">
              <span class="info-advantages__icon">
                <svg>
                  <use xlink:href="images/sprite.svg#advantages--svg--advanteges-icon-4"></use>
                </svg>
              </span>
              Наши сертификаты
            </li>
          </ul>
          <div class="info-advantages__btn-box">
            <a class="info-advantages__btn info-advantages__btn--video-link btn btn-video" href="#">Смотреть видео</a>
          </div>
        </div>
      </div>
      <div class="advantages__column">
        <div class="advantages-img">
          <div class="advantages-img__box">
            <img src="images/advantages/advanteges-2.jpg" alt="Чистая вода с минералами сразу из под крана" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>