<section class="benefits">

  <div class="container">
    <div class="benefits__header">
      <h2 class="benefits__title title">
        Ваша выгода
      </h2>
      <p class="benefits__subtitle subtitle">
        наши обязательства
      </p>
    </div>
  </div>

  <div class="swiper-container benefits__slider slider-info">

    <div class="swiper-wrapper">

      <div class="swiper-slide info-slide">
        <div class="info-slide__header">
          <div class="info-slide__img">
            <svg>
              <use xlink:href="images/sprite.svg#benefits--svg--benefit-icon-1"></use>
            </svg>
          </div>
          <h4 class="info-slide__title">
            Дешёвые расходные элементы
          </h4>
        </div>
        <div class="info-slide__body">
          <p class="info-slide__text">
            Полугодичная замена всех картриджей (расходных элементов) – 2650 тенге за 3 штуки. Все картриджи
            изготавливаются на собственном производстве на территории Европы, что соответствует стандартам
            европейского
            качества.
          </p>
        </div>
      </div>

      <div class="swiper-slide info-slide">
        <div class="info-slide__header">
          <div class="info-slide__img">
            <svg>
              <use xlink:href="images/sprite.svg#benefits--svg--benefit-icon-1"></use>
            </svg>
          </div>
          <h4 class="info-slide__title">
            Наша система мобильна
          </h4>
        </div>
        <div class="info-slide__body">
          <p class="info-slide__text">
            Вы всегда можете забрать наш фильтр с собой, в новую квартиру, в случае переезда. Наша компания всегда
            рада помочь, демонтировать и установить фильтр в новой квартире.
          </p>
        </div>
      </div>

      <div class="swiper-slide info-slide">
        <div class="info-slide__header">
          <div class="info-slide__img">
            <svg>
              <use xlink:href="images/sprite.svg#benefits--svg--benefit-icon-1"></use>
            </svg>
          </div>
          <h4 class="info-slide__title">
            Под ключ
          </h4>
        </div>
        <div class="info-slide__body">
          <p class="info-slide__text">
            В стоимость входит весь процесс и всё необходимое оборудование для получения чистой воды, а также
            доставка и монтаж. А наша служба контроля и качества, после установки свяжется с вами и убедится, что
            всё выполнено по регламенту.
          </p>
        </div>
      </div>

      <div class="swiper-slide info-slide">
        <div class="info-slide__header">
          <div class="info-slide__img">
            <svg>
              <use xlink:href="images/sprite.svg#benefits--svg--benefit-icon-1"></use>
            </svg>
          </div>
          <h4 class="info-slide__title">
            Эталонное качество сборки
          </h4>
        </div>
        <div class="info-slide__body">
          <p class="info-slide__text">
            Завод по производству наших фильтров, находится на территории Европы, что позволяет контролировать
            все этапы производства и сборку, от поставки сырья до мельчайших деталей крепления, отвечая и
            высокими стандартами Евросоюза.
          </p>
        </div>
      </div>

      <div class="swiper-slide info-slide">
        <div class="info-slide__header">
          <div class="info-slide__img">
            <svg>
              <use xlink:href="images/sprite.svg#benefits--svg--benefit-icon-1"></use>
            </svg>
          </div>
          <h4 class="info-slide__title">
            Сердце aфильтра США
          </h4>
        </div>
        <div class="info-slide__body">
          <p class="info-slide__text">
            Лучшие мембраны для очистки воды из США. Завод-изготовитель, мог бы уверенно установить свою
            европейскую мембрану, но компания настолько внимательно относится к качеству, что собрала всё
            лучшее для производства высококачественной чистой питьевой воды.
          </p>
        </div>
      </div>

      <div class="swiper-slide info-slide">
        <div class="info-slide__header">
          <div class="info-slide__img">
            <svg>
              <use xlink:href="images/sprite.svg#benefits--svg--benefit-icon-1"></use>
            </svg>
          </div>
          <h4 class="info-slide__title">
            Пластиковый бак
          </h4>
        </div>
        <div class="info-slide__body">
          <p class="info-slide__text">
            У фильтров компании Platinum Wasser используется первичный пищевой пластик для производства, в
            том числе и накопительного бачка, что немаловажно. Первичный пластик без ВРА не выделяет вредные
            химические элементы и не ржавеет, что говорит, о внимании к деталям и высоким стандартам.
          </p>
        </div>
      </div>

      <div class="swiper-slide info-slide">
        <div class="info-slide__header">
          <div class="info-slide__img">
            <svg>
              <use xlink:href="images/sprite.svg#benefits--svg--benefit-icon-1"></use>
            </svg>
          </div>
          <h4 class="info-slide__title">
            Только профессионалы
          </h4>
        </div>
        <div class="info-slide__body">
          <p class="info-slide__text">
            Каждый наш сотрудник проходит обучение, после которого сдаёт экзамены. На выезд, новые
            сотрудники едут только с более опытными коллегами, которые имеют более года опыта по установки
            фильтрующих систем.
          </p>
        </div>
      </div>

    </div>

  </div>
  <div class="benefits__row">
    <a class="benefits__btn btn btn-messenger" href="#">Оставить заявку</a>
  </div>
</section>