<section class="certificates">
  <div class="container">
    <div class="certificates__header">
      <h2 class="certificates__title title">Наше качество <br>подтверждено сертификатами</h2>
    </div>
    <div class="certificates__body">

      <div class="certificates__slider-box">
        <div class="swiper-container certificates__slider">

          <div class="swiper-wrapper">
            <div class="swiper-slide certificates__slide">
              <img src="images/certificates/certificate-1.jpg" alt="">
            </div>

            <div class="swiper-slide certificates__slide">
              <img src="images/certificates/certificate-2.jpg" alt="">
            </div>
          </div>

        </div>

        <div class="certificates__arrows-box">
          <div class="certificates__arrow-prev">
          </div>
          <div class="certificates__arrow-next">
          </div>
        </div>

      </div>

      <ul class="certificates__list">
        <li class="certificates__icon">
          <img src="images/certificates/icon/certificate-icon-1.png" alt="">
        </li>
        <li class="certificates__icon">
          <img src="images/certificates/icon/certificate-icon-2.png" alt="">
        </li>
        <li class="certificates__icon">
          <img src="images/certificates/icon/certificate-icon-3.png" alt="">
        </li>
        <li class="certificates__icon">
          <img src="images/certificates/icon/certificate-icon-4.png" alt="">
        </li>
      </ul>
    </div>
  </div>
</section>