<section class="cleaning-stages">
  <div class="container">
    <div class="cleaning-stages__header">
      <h2 class="cleaning-stages__title title">
        Стадии очистки
      </h2>
    </div>
    <ul class="cleaning-stages__list cleaning-stages-list">

      <li class="cleaning-stages-item">
        <div class="cleaning-stages-item__img">
          <img src="images/cleaning-stages/cleaning-stages-1.png" alt="" />
        </div>
        <div class="cleaning-stages-item__body">
          <h4 class="cleaning-stages-item__title">Механическая очистка</h4>
          <p class="cleaning-stages-item__desc">
            Удаляет нерастворимые примеси такие как песок, глина, металл,
            стружка и другие большие элементы.
          </p>
        </div>
      </li>

      <li class="cleaning-stages-item">
        <div class="cleaning-stages-item__img">
          <img src="images/cleaning-stages/cleaning-stages-2.png" alt="" />
        </div>
        <div class="cleaning-stages-item__body">
          <h4 class="cleaning-stages-item__title">Угольная очистка</h4>
          <p class="cleaning-stages-item__desc">
            Угольный фильтр впитывает хлор, органические соединения, а так
            же летучие примеси портящие вкус и запах воды.
          </p>
        </div>
      </li>

      <li class="cleaning-stages-item">
        <div class="cleaning-stages-item__img">
          <img src="images/cleaning-stages/cleaning-stages-3.png" alt="" />
        </div>
        <div class="cleaning-stages-item__body">
          <h4 class="cleaning-stages-item__title">Тонкая механическая очистка</h4>
          <p class="cleaning-stages-item__desc">
            Фильтрация тонкой очистки убивает более мелкие нерастворимые
            частицы, невидимые человеческому глазу.
          </p>
        </div>
      </li>

      <li class="cleaning-stages-item">
        <div class="cleaning-stages-item__img">
          <img src="images/cleaning-stages/cleaning-stages-4.png" alt="" />
        </div>
        <div class="cleaning-stages-item__body">
          <h4 class="cleaning-stages-item__title">Мембранная очистка</h4>
          <p class="cleaning-stages-item__desc">
            Мембрана США удаляет растворимые элементы такие как: соли,
            вирусы, бактерии, тяжелые металлы и пропускает только молекулы
            воды.
          </p>
        </div>
      </li>

      <li class="cleaning-stages-item">
        <div class="cleaning-stages-item__img">
          <img src="images/cleaning-stages/cleaning-stages-5.png" alt="" />
        </div>
        <div class="cleaning-stages-item__body">
          <h4 class="cleaning-stages-item__title">Финишная кондиционная очистка</h4>
          <p class="cleaning-stages-item__desc">
            Кондиционирование воды через природный кокосовый уголь.
            Положительно влияет на вкус, цвет а так же запах воды без
            использования искусственных химических добавок.
          </p>
        </div>
      </li>

      <li class="cleaning-stages-item">
        <div class="cleaning-stages-item__img">
          <img src="images/cleaning-stages/cleaning-stages-6.png" alt="" />
        </div>
        <div class="cleaning-stages-item__body">
          <h4 class="cleaning-stages-item__title">Ржавчина и наросты</h4>
          <p class="cleaning-stages-item__desc">
            Обогащает воду полезными минералами. Проходя через горную породу
            долонит, вода обогащается кальцием, магнием, калием, натрием, а
            так же карбонатами и гидрокарбонатами.
          </p>
        </div>
      </li>

    </ul>
  </div>
</section>