<section class="cost" id="cost">
  <div class="container">
    <div class="cost__header">
      <h2 class="cost__title title">Сколько стоят <br>фильтрующие элементы</h2>
    </div>
    <div class="cost__body">
      <div class="cost__row">

        <div class="cost__box cost-box">
          <p class="cost-box__desc">После первых 6-ти месяцев меняются 3 картриджа в колбах.</p>
          <span class="cost-box__price">2 650 тг</span>
        </div>

        <div class="cost__box cost-box">
          <p class="cost-box__desc">После вторых 6-ти месяцев меняются 3 картриджа в колбах и 2 дополнительных.</p>
          <span class="cost-box__price">7 950 тг</span>
        </div>

      </div>
      <div class="cost__row">
        <span class="cost__price">10 600 тг/год</span>
      </div>
    </div>
    <div class="cost__btn-box">
      <a class="cost__btn btn btn-messenger" href="#">Оставить заявку</a>
    </div>
  </div>
</section>