<section class="dangers" id="dangers">
  <div class="container">
    <div class="dangers__header">
      <h2 class="dangers__title title">
        Опасно!
      </h2>
      <h3 class="dangers__subtitle subtitle">
        Хлор, вирусы, бактерии, металлы.
      </h3>
    </div>
    <div class="dangers__body">

      <div class="sticker-dangers sticker-dangers--i1">
        <div class="sticker-dangers__img">
          <svg>
            <use xlink:href="images/sprite.svg#dangers--svg--dangerous-icon"></use>
          </svg>
        </div>
        <p class="sticker-dangers__label">Хлор</p>
      </div>

      <div class="sticker-dangers sticker-dangers--i2">
        <div class="sticker-dangers__img">
          <svg>
            <use xlink:href="images/sprite.svg#dangers--svg--dangerous-icon"></use>
          </svg>
        </div>
        <p class="sticker-dangers__label">Бактерии</p>
      </div>

      <div class="sticker-dangers sticker-dangers--i3">
        <div class="sticker-dangers__img">
          <svg>
            <use xlink:href="images/sprite.svg#dangers--svg--dangerous-icon"></use>
          </svg>
        </div>
        <p class="sticker-dangers__label">Органические примеси</p>
      </div>

      <div class="sticker-dangers sticker-dangers--i4">
        <div class="sticker-dangers__img">
          <svg>
            <use xlink:href="images/sprite.svg#dangers--svg--dangerous-icon"></use>
          </svg>
        </div>
        <p class="sticker-dangers__label">Нитраты солей жёсткости</p>
      </div>

      <div class="sticker-dangers sticker-dangers--i5">
        <div class="sticker-dangers__img">
          <svg>
            <use xlink:href="images/sprite.svg#dangers--svg--dangerous-icon"></use>
          </svg>
        </div>
        <p class="sticker-dangers__label">Металлы</p>
      </div>

      <div class="sticker-dangers sticker-dangers--i6">
        <div class="sticker-dangers__img">
          <svg>
            <use xlink:href="images/sprite.svg#dangers--svg--dangerous-icon"></use>
          </svg>
        </div>
        <p class="sticker-dangers__label">Вирус</p>
      </div>

      <div class="sticker-dangers sticker-dangers--i7">
        <div class="sticker-dangers__img">
          <svg>
            <use xlink:href="images/sprite.svg#dangers--svg--dangerous-icon"></use>
          </svg>
        </div>
        <p class="sticker-dangers__label">Песок и грунт</p>
      </div>

      <img src="images/dangers/dangers-sub-bg.png" alt="" class="dangers__img-bg">
    </div>
  </div>
</section>