<section class="discount">
  <div class="container">
    <div class="discount__body">

      <div class="discount__row">
        <span class="discount__old-price">90 000</span>
        <span class="discount__new-price">79 000 тг</span>
      </div>

      <h2 class="discount__title title">
        Скидка для Казахстана от <br>завода - производителя
      </h2>

      <p class="discount__desc">
        БЕСПЛАТНАЯ доставка и установка!<br>
        РАССРОЧКА!
      </p>

      <a class="discount__btn btn btn-messenger" href="#">Заказать за 79 000 тг</a>

    </div>
  </div>
</section>