<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <div class="footer__column">
        <a class="footer__logo logo" href="#">
          <picture>
            <source srcset="images/logo-mobail.png 32w" media="(max-width: 800px)" />
            <img src="images/logo.png" alt="Logo PW" />
          </picture>
        </a>
        <p class="footer__desc">
          Профессиональная немецкая система очистки воды для вашего дома
        </p>
      </div>
      <div class="footer__column">
        <a class="footer__contact contact btn-messenger" href="#">
          <svg>
            <use xlink:href="images/sprite.svg#svg-general--messenger"></use>
          </svg>
          Написать</a>
        <div class="address">
          <p class="address__text">
            Алматы, ул. Рыскулова 143 B,
            ТРЦ Domillion, офис А 3-1, 3 этаж
          </p>
          <a class="address__mail" href="mailto:info@platinumwater.kz">
            info@platinumwater.kz
          </a>
        </div>
      </div>
      <div class="footer__column">
        <a class="footer__contact contact" href="tel:+78008000800">
          <svg>
            <use xlink:href="images/sprite.svg#svg-general--phone"></use>
          </svg>8 800 800 08 00</a>
        <div class="schedule">
          <p class="schedule__text">10:00 - 19:00 Пн-Сб</p>
          <p class="schedule__text">13:00 - 15:00 Перерыв</p>
        </div>
      </div>
      <div class="footer__column">
        <a href="#" class="footer__btn btn btn-messenger">Оставить заявку</a>
        <a href="#" class="footer__btn btn btn--white btn-messenger">Обратный звонок</a>
      </div>
    </div>
  </div>
</footer>