<section class="guarantee">
  <div class="container">
    <div class="guarantee__header">
      <h2 class="guarantee__title title">
        Гарантия честной цены
      </h2>
      <p class="guarantee__desc">
        На сегодняшний день фильтр для воды стал неотъемлемым бытовым прибором на любой современной кухне. Ведь
        этопомощник любой хозяйки для приготовления идеальных блюд и горячих напитков. Безопастность в виде воды
        для
        ваших детей и родителей, идеальное восполнение водного баланса для спортсменов и просто постоянный доступ
        к
        чистейшей воде наивысшего качества.
      </p>
    </div>
    <div class="guarantee__body">

      <div class="guarantee__item guarantee-item">
        <div class="guarantee-item__img">
          <img src="images/guarantee/guarantee-icon-1.png" alt="">
        </div>

        <p class="guarantee-item__text">
          Эксклюзивный представитель в РК
        </p>
      </div>

      <div class="guarantee__item guarantee-item">
        <div class="guarantee-item__img">
          <img src="images/guarantee/guarantee-icon-2.png" alt="">
        </div>

        <p class="guarantee-item__text">
          Качественный продукт
        </p>
      </div>

      <div class="guarantee__item guarantee-item">
        <div class="guarantee-item__img">
          <img src="images/guarantee/guarantee-icon-3.png" alt="">
        </div>

        <p class="guarantee-item__text">
          Материалы без BPA
        </p>
      </div>

      <div class="guarantee__item guarantee-item">
        <div class="guarantee-item__img">
          <img src="images/guarantee/guarantee-icon-4.png" alt="">
        </div>

        <p class="guarantee-item__text">
          Контроль качества
        </p>
      </div>

      <div class="guarantee__item guarantee-item">
        <div class="guarantee-item__img">
          <img src="images/guarantee/guarantee-icon-5.png" alt="">
        </div>

        <p class="guarantee-item__text">
          Европейская гарантия
        </p>
      </div>

      <div class="guarantee__item guarantee-item">
        <div class="guarantee-item__img">
          <img src="images/guarantee/guarantee-icon-6.png" alt="">
        </div>

        <p class="guarantee-item__text">
          Более 20 лет надежности
        </p>
      </div>

      <div class="guarantee__item guarantee-item">
        <div class="guarantee-item__img">
          <img src="images/guarantee/guarantee-icon-7.png" alt="">
        </div>

        <p class="guarantee-item__text">
          Экологически чистые материалы
        </p>
      </div>
    </div>
  </div>
</section>