<section class="hazards">
  <div class="container">
    <div class="hazards__header">
      <h2 class="hazards__title title">
        Внимание!
      </h2>
      <h3 class="hazards__subtitle subtitle">
        Чем опасна вода из под крана
      </h3>
    </div>
  </div>
  <div class="hazards__slider slider-info swiper-container">
    <div class="swiper-wrapper">

      <div class="swiper-slide info-slide">
        <div class="info-slide__header">
          <div class="info-slide__img">
            <svg>
              <use xlink:href="images/sprite.svg#hazard--svg--hazard-icon-1"></use>
            </svg>
          </div>
          <h4 class="info-slide__title">
            Микроорганизмы и диоксины
          </h4>
        </div>
        <div class="info-slide__body">
          <p class="info-slide__text">
            Многие убеждены что кипячение воды может спасти от отравления и
            обеззаразить воду, это не совсем так. Различные химикаты являются
            намного более стойкими к высоким температурам.
          </p>
        </div>
      </div>

      <div class="swiper-slide info-slide">
        <div class="info-slide__header">
          <div class="info-slide__img">
            <svg>
              <use xlink:href="images/sprite.svg#hazard--svg--hazard-icon-2"></use>
            </svg>
          </div>
          <h4 class="info-slide__title">
            Высокое содержание металловых
          </h4>
        </div>
        <div class="info-slide__body">
          <p class="info-slide__text">
            Все ГОСТы по нормам содержания металлов в воде могут быть
            завышены, поэтому если вода и соответствует нормам, это не значит
            что она пригодна для питья.
          </p>
        </div>
      </div>

      <div class="swiper-slide info-slide">
        <div class="info-slide__header">
          <div class="info-slide__img">
            <svg>
              <use xlink:href="images/sprite.svg#hazard--svg--hazard-icon-3"></use>
            </svg>
          </div>
          <h4 class="info-slide__title">
            Токсичная родниковая вода
          </h4>
        </div>
        <div class="info-slide__body">
          <p class="info-slide__text">
            При выборе или питье из родника обратите внимание на: Если вблизи
            нескольких километров есть сельское хозяйство или трасса, то вода
            будет с завышенным количеством нитратов от удобрений или
            превышение нормы металлов.
          </p>
        </div>
      </div>

      <div class="swiper-slide info-slide">
        <div class="info-slide__header">
          <div class="info-slide__img">
            <svg>
              <use xlink:href="images/sprite.svg#hazard--svg--hazard-icon-4"></use>
            </svg>
          </div>
          <h4 class="info-slide__title">
            Поддельная бутылированная вода
          </h4>
        </div>
        <div class="info-slide__body">
          <p class="info-slide__text">
            Многие производители используют маркетинг называя воду минеральной
            или артезианской тем самым обманывая покупателей.
          </p>
        </div>
      </div>

      <div class="swiper-slide info-slide">
        <div class="info-slide__header">
          <div class="info-slide__img">
            <svg>
              <use xlink:href="images/sprite.svg#hazard--svg--hazard-icon-5"></use>
            </svg>
          </div>
          <h4 class="info-slide__title">
            Хлор
          </h4>
        </div>
        <div class="info-slide__body">
          <p class="info-slide__text">
            Химическое вещество. В малых дозах убивает вредные организмы. В
            высоких концентрациях является отравляющим веществом. В первой
            мировой войне использовалось как химическое оружие.
          </p>
        </div>
      </div>

      <div class="swiper-slide info-slide">
        <div class="info-slide__header">
          <div class="info-slide__img">
            <svg>
              <use xlink:href="images/sprite.svg#hazard--svg--hazard-icon-6"></use>
            </svg>
          </div>
          <h4 class="info-slide__title">
            Ржавчина и наросты
          </h4>
        </div>
        <div class="info-slide__body">
          <p class="info-slide__text">
            Прежде чем политься из ваших кранов, вода проходит километры
            старых железных труб. На их стенах ржавчина наросты и даже ил. В
            трубах могут появиться микротрещины, вследствие чего, все
            загрязнения извне попадают в питьевую воду.
          </p>
        </div>
      </div>

    </div>
  </div>
  <div class="hazards__btn-box">
    <a href="#" class="hazards__btn btn btn-messenger">Оставить заявку</a>
  </div>
</section>