<header class="header">
  <div class="container">
    <div class="header__body">

      <div class="header__contacts-nav">
        <a class="header__contact contact btn-messenger" href="#">
          <svg>
            <use xlink:href="images/sprite.svg#svg-general--messenger"></use>
          </svg>
          Написать</a>
        <a class="header__contact contact" href="tel:+78008000800">
          <svg>
            <use xlink:href="images/sprite.svg#svg-general--phone"></use>
          </svg>
          8 800 800 08 00</a>
      </div>

      <a class="header__logo logo" href="#">
        <picture>
          <source srcset="images/logo-mobail.png 32w" media="(max-width: 800px)" />
          <img src="images/logo.png" alt="Logo PW" />
        </picture>
      </a>

      <div class="header__site-nav">
        <div class="menu-btn">
          Меню
          <svg>
            <use xlink:href="images/sprite.svg#svg-general--plus"></use>
          </svg>
        </div>

        <div class="popup-btn">
          <svg>
            <use xlink:href="images/sprite.svg#svg-general--close-popup"></use>
          </svg>
        </div>
      </div>

      <div class="header__popup-wrap">

        <div class="header__popup-inner">

          <nav class="menu">
            <h2 class="menu__title">Меню</h2>
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__link" href="#what-we">
                  Завод по очистке воды&nbsp;<span>+</span>
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#dangers">
                  Чем опасна вода из под крана&nbsp;<span>+</span>
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#how-works">
                  Как работает наша система&nbsp;<span>+</span>
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#cost">
                  Сколько стоят фильтрующие элементы&nbsp;<span>+</span>
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#advantages-2">
                  Сравните и убедитесь&nbsp;<span>+</span>
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#stages">
                  Заказ, доставка, установка&nbsp;<span>+</span>
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#question-box">
                  Остались вопросы?&nbsp;<span>+</span>
                </a>
              </li>

              <li class="menu__item menu__item--contact">
                <a class="menu__link contact btn-messenger" href="#">Написать
                  <svg class="img">
                    <use xlink:href="images/sprite.svg#svg-general--messenger"></use>
                  </svg>
                </a>
              </li>

              <li class="menu__item menu__item--contact">
                <a class="menu__link contact" href="tel:+78008000800">8 800 800 08 00
                  <svg>
                    <use xlink:href="images/sprite.svg#svg-general--phone"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </nav>

          <div class="questions">
            <div class="questions__column">
              <h2 class="questions__title">Остались вопросы?</h2>
            </div>
            <div class="questions__column">
              <form class="questions__form form-question" action="#">
                <h3 class="form-question__title">Закажите фильтр</h3>
                <h4 class="form-question__suptitle">
                  Бесплатная доставка и <br />установка
                </h4>
                <p class="form-question__text">Наш менеджер свяжется с вами по <br />указанному номеру
                  телефона</p>
                <input class="form-question__input" type="text" placeholder="Ваше имя" />
                <input class="form-question__input" type="text" placeholder="Телефон" />
                <input class="form-question__submit btn" type="submit" value="Оставить заявку" />
                <span class="form-question__desc">
                  По всем вопросам
                  <a class="form-question__link" href="mailto:info@platinumwater.kz">
                    info@platinumwater.kz
                  </a>
                </span>
              </form>
            </div>
          </div>

          <div class="video-youtube">
            <div class="video-youtube__img-bg">
              <svg>
                <use xlink:href="images/sprite.svg#svg-general--youtube"></use>
              </svg>
            </div>
            <iframe src="" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>

        </div>

        <img src="images/header/bg-img.png" alt="" class="header__img-bg">
      </div>

    </div>
  </div>
</header>