<section class="how-works" id="how-works">
  <div class="container">

    <div class="how-works__wrap">
      <div class="how-works__inner">
        <div class="how-works__header">
          <h2 class="how-works__title title">
            Как работает
          </h2>
          <h3 class="how-works__subtitle subtitle">
            наша система очистки
          </h3>
          <div class="how-works__desc desc-how-works">
            <div class="desc-how-works__img">
              <svg>
                <use xlink:href="images/sprite.svg#how-works--svg--navigation-arrow"></use>
              </svg>
            </div>
            <p class="desc-how-works__text">
              Наведите курсор на маркер, чтобы узнать дополнительную информацию.
            </p>
          </div>
        </div>

        <div class="how-works__body">

          <div class="how-works-box how-works-box--i1">
            <div class="how-works-box__dot dot" tabindex="0"></div>

            <div class="how-works-box__info">
              <h4 class="how-works-box__title">Механическая очистка</h4>
              <p class="how-works-box__desc">
                Угольный фильтр впитывает хлор, органические соединения, а так
                же летучие примеси портящие вкус и запах воды.
              </p>
            </div>
          </div>

          <div class="how-works-box how-works-box--i2">
            <div class="how-works-box__dot dot" tabindex="0"></div>

            <div class="how-works-box__info">
              <h4 class="how-works-box__title">Угольная очистка</h4>
              <p class="how-works-box__desc">
                Угольный фильтр впитывает хлор, органические соединения, а так
                же летучие примеси портящие вкус и запах воды
              </p>
            </div>
          </div>

          <div class="how-works-box how-works-box--i3">
            <div class="how-works-box__dot dot" tabindex="0"></div>

            <div class="how-works-box__info">
              <h4 class="how-works-box__title">Тонкая механическая очистка</h4>
              <p class="how-works-box__desc">
                Фильтрация тонкой очистки убивает более мелкие нерастворимые
                частицы, невидимые человеческому глазу.
              </p>
            </div>
          </div>

          <div class="how-works-box how-works-box--i4">
            <div class="how-works-box__dot dot" tabindex="0"></div>

            <div class="how-works-box__info">
              <h4 class="how-works-box__title">Контоль потока воды</h4>
              <p class="how-works-box__desc">
                Ограничитель потока, дает сопротивление для улучшения работы
                мембраны (самая важная очистка воды) и экономит воду, что бы не
                было лишнего сброса воды в канализацию.
              </p>
            </div>
          </div>

          <div class="how-works-box how-works-box--i5">
            <div class="how-works-box__dot dot" tabindex="0"></div>

            <div class="how-works-box__info">
              <h4 class="how-works-box__title">Мембранная очистка</h4>
              <p class="how-works-box__desc">
                Мембрана США удаляет растворимые элементы такие как: соли,
                вирусы, бактерии, тяжелые металлы и пропускает только молекулы
                воды.
              </p>
            </div>
          </div>

          <div class="how-works-box how-works-box--i6">
            <div class="how-works-box__dot dot" tabindex="0"></div>

            <div class="how-works-box__info how-works-box__info--right">
              <h4 class="how-works-box__title">Формирование запаса и напора</h4>
              <p class="how-works-box__desc">
                Далее вода попадает в пластиковый накопитель (БАК). Если
                внезапно произойдет отключение воды, у вас всегда будет будет
                5-7.5 литров запаса питьевой воды под хорошим напором.
              </p>
            </div>
          </div>

          <div class="how-works-box how-works-box--i7">
            <div class="how-works-box__dot dot" tabindex="0"></div>

            <div class="how-works-box__info">
              <h4 class="how-works-box__title">Финишная кондициониро- ванная очистка</h4>
              <p class="how-works-box__desc">
                Кондиционирование воды через природный кокосовый уголь.
                Положительно влияет на вкус, цвет, а также запах воды, без
                использования.
              </p>
            </div>
          </div>

          <div class="how-works-box how-works-box--i8">
            <div class="how-works-box__dot dot" tabindex="0"></div>

            <div class="how-works-box__info">
              <h4 class="how-works-box__title">Минерализация</h4>
              <p class="how-works-box__desc">
                Обогащает воду полезными минералами. Проходя через горную породу
                доломит, вода обогащается кальцием, магнием, калием, натрием, а
                так же карбонатами и гидрокарбонатами.
              </p>
            </div>
          </div>

          <div class="how-works-box how-works-box--i9">
            <div class="how-works-box__dot dot" tabindex="0"></div>

            <div class="how-works-box__info">
              <h4 class="how-works-box__title">Доступ к двум вида воды</h4>
              <p class="how-works-box__desc">
                1. Вода, очищенная от всего, для приготовления напитков и блюд;
                <br />
                2. Вода, дополнительно обогащенная минералами, для питья.
              </p>
            </div>
          </div>

          <picture>
            <source srcset="images/how-works/how-works-mobile.png 380w" media="(max-width: 768px)" />
            <img class="how-works__img" src="images/how-works/how-works.png" alt="Система очистки" />
          </picture>
        </div>
        <img class="how-works__img-bg" src="images/svg-general/individual/circle-bg.svg">
      </div>
    </div>

  </div>
</section>