<section class="question-box" id="question-box">
  <div class="container">
    <div class="questions">
      <div class="questions__column">
        <h2 class="questions__title">Остались вопросы?</h2>
      </div>
      <div class="questions__column">
        <form class="questions__form form-question" action="#">
          <h3 class="form-question__title">Закажите фильтр</h3>
          <h4 class="form-question__suptitle">
            Бесплатная доставка и <br />установка
          </h4>
          <p class="form-question__text">Наш менеджер свяжется с вами по <br />указанному номеру
            телефона</p>
          <input class="form-question__input" type="text" placeholder="Ваше имя" />
          <input class="form-question__input" type="text" placeholder="Телефон" />
          <input class="form-question__submit btn" type="submit" value="Оставить заявку" />
          <span class="form-question__desc">
            По всем вопросам
            <a class="form-question__link" href="mailto:info@platinumwater.kz">
              info@platinumwater.kz
            </a>
          </span>
        </form>
      </div>
      <img src="images/header/bg-img.png" alt="" class="questions__img-bg">
    </div>
  </div>
</section>