<section class="slider">
  <div class="container">

    <div class="swiper-container slider__list">

      <div class="swiper-wrapper">

        <div class="swiper-slide item-slide">
          <img class="swiper-lazy item-slide__img" src="images/slider/slide-1.png" alt="Слайдер-1" />
          <div class="swiper-lazy-preloader"></div>
          <div class="item-slide__info">
            <h1 class="item-slide__title">
              Завод по очистке воды на вашей кухне
            </h1>
            <a class="item-slide__btn btn-messenger" href="#"> Оставить заявку + </a>
          </div>
        </div>

        <div class="swiper-slide item-slide">
          <img class="swiper-lazy item-slide__img" src="images/slider/slide-2.png" alt="Слайдер-2" />
          <div class="swiper-lazy-preloader"></div>
          <div class="item-slide__info item-slide__info--right">
            <h1 class="item-slide__title">
              Завод по очистке воды на вашей кухне
            </h1>
            <a class="item-slide__btn btn-messenger" href="#"> Оставить заявку + </a>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>