<section class="team">
  <div class="container">
    <div class="team__header">
      <h2 class="team__title title">
        Наша команда
      </h2>
      <div class="team__slider-nav">
        <div class="team__arrow-prev">
        </div>
        <div class="team__arrow-next">
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-container team__slider">

    <div class="swiper-wrapper">

      <div class="swiper-slide team-slide">
        <div class="team-slide__img-box">
          <img class="team-slide__img" src="images/team/team-1.jpg" alt="">
        </div>
        <h4 class="team-slide__title">
          Контроль качества
        </h4>
        <p class="team-slide__text">
          Приедем во время. Согласуем место монтажа. Инструктируем клиентов. Демонстрируем воду До и После. Сами
          уберем
          и вынесем весь мусор.
        </p>
      </div>

      <div class="swiper-slide team-slide">
        <div class="team-slide__img-box">
          <img class="team-slide__img" src="images/team/team-2.jpg" alt="">
        </div>
        <h4 class="team-slide__title">
          Офис
        </h4>
        <p class="team-slide__text">
          Более 300 фильтров
          Более 300 картриджей
        </p>
      </div>

      <div class="swiper-slide team-slide">
        <div class="team-slide__img-box">
          <img class="team-slide__img" src="images/team/team-3.jpg" alt="">
        </div>
        <h4 class="team-slide__title">
          Доставка
        </h4>
        <p class="team-slide__text">
          Если мы не приедем вовремя, то сделаем первую доставку бесплатано
        </p>
      </div>

      <div class="swiper-slide team-slide">
        <div class="team-slide__img-box">
          <img class="team-slide__img" src="images/team/team-4.jpg" alt="">
        </div>
        <h4 class="team-slide__title">
          Сервисный центр и поддержка
        </h4>
        <p class="team-slide__text">
          Мы официальный сервисный центр авторизированный заоводом прозводителем.
        </p>
      </div>

      <div class="swiper-slide team-slide">
        <div class="team-slide__img-box">
          <img class="team-slide__img" src="images/team/team-5.jpg" alt="">
        </div>
        <h4 class="team-slide__title">
          Монтаж и установка
        </h4>
        <p class="team-slide__text">
          Перед каждым выездом мы тщательно проверяем каждый комплект и наличие сопровождающих документов
        </p>
      </div>

    </div>

  </div>
</section>