<section class="what-we" id="what-we">
  <div class="container">
    <div class="what-we__header">
      <h2 class="what-we__title title">
        Почему мы называем
      </h2>
      <h3 class="what-we__subtitle subtitle">
        нашу систему заводом
      </h3>
    </div>
    <div class="what-we__body">
      <div class="what-we__column">
        <div class="what-we__desc-box">
          <p class="what-we__desc">
            Для литья корпусов и других пластиковых элементов фильтра
            используется исключительно новое первичное сырье без вредных
            добавок, что обеспечивает немецкий высококачественный продукт
            самыми высокими стандартами качества, подтвержденными
            сертификатами TUV Safety, гигиеническими BPA Free.
          </p>
          <div class="what-we__desc-img">
            <svg>
              <use xlink:href="images/sprite.svg#what-we--svg--what-we-icon-1"></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="what-we__column">
        <div class="what-we__tabs">

          <div class="what-we__img">
            <img src="images/what-we/what-we.png" alt="Система очистки" />
          </div>

          <a data-for="what-we-tab-1" class="what-we__tab-dot what-we__tab-dot--i1 dot" href="#"></a>
          <a data-for="what-we-tab-2" class="what-we__tab-dot what-we__tab-dot--i2 dot" href="#"></a>
          <a data-for="what-we-tab-3" class="what-we__tab-dot what-we__tab-dot--i3 dot" href="#"></a>
          <a data-for="what-we-tab-4" class="what-we__tab-dot what-we__tab-dot--i4 dot" href="#"></a>
          <a data-for="what-we-tab-5" class="what-we__tab-dot what-we__tab-dot--i5 dot" href="#"></a>
          <a data-for="what-we-tab-6" class="what-we__tab-dot what-we__tab-dot--i6 dot" href="#"></a>
          <a data-for="what-we-tab-7" class="what-we__tab-dot what-we__tab-dot--i7 dot" href="#"></a>
          <a data-for="what-we-tab-8" class="what-we__tab-dot what-we__tab-dot--i8 dot" href="#"></a>
          <a data-for="what-we-tab-9" class="what-we__tab-dot what-we__tab-dot--i9 dot" href="#"></a>
          <a data-for="what-we-tab-10" class="what-we__tab-dot what-we__tab-dot--i10 dot" href="#"></a>
        </div>

      </div>

      <div class="what-we__column">

        <div class="what-we__tabs-info">

          <div data-id="what-we-tab-1" class="tab-what-we tab-what-we--active">
            <div class="tab-what-we__img">
              <img src="images/what-we/what-we-slide-1.png" alt="Уплотнительные кольца" />
            </div>

            <h4 class="tab-what-we__title">Уплотнительные кольца</h4>
            <p class="tab-what-we__desc">
              Химическое вещество. В малых дозах убивает вредные организмы.
              В высоких концентрациях является отравляющим веществом. В
              первой мировой войне использовалось как химическое оружие.
            </p>
          </div>

          <div data-id="what-we-tab-2" class="tab-what-we">
            <div class="tab-what-we__img">
              <img src="images/what-we/what-we-slide-2.png" alt="Уплотнительные кольца" />
            </div>

            <h4 class="tab-what-we__title">Рама</h4>
            <p class="tab-what-we__desc">
              Химическое вещество. В малых дозах убивает вредные организмы.
              В высоких концентрациях является отравляющим веществом. В
              первой мировой войне использовалось как химическое оружие.
            </p>
          </div>

          <div data-id="what-we-tab-3" class="tab-what-we">
            <div class="tab-what-we__img">
              <img src="images/what-we/what-we-slide-3.png" alt="Уплотнительные кольца" />
            </div>

            <h4 class="tab-what-we__title">Хомут</h4>
            <p class="tab-what-we__desc">
              Химическое вещество. В малых дозах убивает вредные организмы.
              В высоких концентрациях является отравляющим веществом. В
              первой мировой войне использовалось как химическое оружие.
            </p>
          </div>

          <div data-id="what-we-tab-4" class="tab-what-we">
            <div class="tab-what-we__img">
              <img src="images/what-we/what-we-slide-4.png" alt="Уплотнительные кольца" />
            </div>

            <h4 class="tab-what-we__title">Кран</h4>
            <p class="tab-what-we__desc">
              Химическое вещество. В малых дозах убивает вредные организмы.
              В высоких концентрациях является отравляющим веществом. В
              первой мировой войне использовалось как химическое оружие.
            </p>
          </div>

          <div data-id="what-we-tab-5" class="tab-what-we">
            <div class="tab-what-we__img">
              <img src="images/what-we/what-we-slide-5.png" alt="Уплотнительные кольца" />
            </div>

            <h4 class="tab-what-we__title">Бак</h4>
            <p class="tab-what-we__desc">
              Химическое вещество. В малых дозах убивает вредные организмы.
              В высоких концентрациях является отравляющим веществом. В
              первой мировой войне использовалось как химическое оружие.
            </p>
          </div>

          <div data-id="what-we-tab-6" class="tab-what-we">
            <div class="tab-what-we__img">
              <img src="images/what-we/what-we-slide-6.png" alt="Уплотнительные кольца" />
            </div>

            <h4 class="tab-what-we__title">Смеситель</h4>
            <p class="tab-what-we__desc">
              Химическое вещество. В малых дозах убивает вредные организмы.
              В высоких концентрациях является отравляющим веществом. В
              первой мировой войне использовалось как химическое оружие.
            </p>
          </div>

          <div data-id="what-we-tab-7" class="tab-what-we">
            <div class="tab-what-we__img">
              <img src="images/what-we/what-we-slide-7.png" alt="Уплотнительные кольца" />
            </div>

            <h4 class="tab-what-we__title">Клипы</h4>
            <p class="tab-what-we__desc">
              Химическое вещество. В малых дозах убивает вредные организмы.
              В высоких концентрациях является отравляющим веществом. В
              первой мировой войне использовалось как химическое оружие.
            </p>
          </div>

          <div data-id="what-we-tab-8" class="tab-what-we">
            <div class="tab-what-we__img">
              <img src="images/what-we/what-we-slide-8.png" alt="Уплотнительные кольца" />
            </div>

            <h4 class="tab-what-we__title">Клапан</h4>
            <p class="tab-what-we__desc">
              Химическое вещество. В малых дозах убивает вредные организмы.
              В высоких концентрациях является отравляющим веществом. В
              первой мировой войне использовалось как химическое оружие.
            </p>
          </div>

          <div data-id="what-we-tab-9" class="tab-what-we">
            <div class="tab-what-we__img">
              <img src="images/what-we/what-we-slide-9.png" alt="Уплотнительные кольца" />
            </div>

            <h4 class="tab-what-we__title">Ограничитель потока</h4>
            <p class="tab-what-we__desc">
              Химическое вещество. В малых дозах убивает вредные организмы.
              В высоких концентрациях является отравляющим веществом. В
              первой мировой войне использовалось как химическое оружие.
            </p>
          </div>

          <div data-id="what-we-tab-10" class="tab-what-we">
            <div class="tab-what-we__img">
              <img src="images/what-we/what-we-slide-10.png" alt="Уплотнительные кольца" />
            </div>

            <h4 class="tab-what-we__title">Фитинги</h4>
            <p class="tab-what-we__desc">
              Химическое вещество. В малых дозах убивает вредные организмы.
              В высоких концентрациях является отравляющим веществом. В
              первой мировой войне использовалось как химическое оружие.
            </p>
          </div>

        </div>

      </div>
    </div>
    <div class="what-we__btn-box">
      <a class="what-we__btn btn btn-messenger" href="#">Заказать за 79 000 тг</a>
    </div>
    <img class="what-we__img-bg" src="images/svg-general/individual/circle-bg.svg">
  </div>
</section>